@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap');

.contactList {
  display: flex;
}

.deleteButton {
  padding: 5px;
  margin-left: auto;
  background-color: #d71010;
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
}

.deleteButton::before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: '';
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.deleteButton:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .contactList {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
  }

  .contactList li {
    font-size: 24px;
  }

  .contactList p {
    margin-right: 90px;
  }

  .deleteButton {
 
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .contactList {
    margin: 15px auto;
    width: 100%;
  }

  .contactList li {
    font-size: 20px;
  }

  .deleteButton {
 
    margin-left: 60px;  
  }
}
